Importing .csv files

In [1]:
import numpy as np #Importing both numpy and pandas library
import pandas as pd

In [6]:
fb = pd.read_csv('E:\Forbes_Billionaire.csv')
fb

,Rank,Name,Age,Net Worth,Country,Source,Industries
0,1,JEFF BEZOS,56.0,113.0,United States,Amazon,Technology
1,2,BILL GATES,64.0,98.0,United States,Microsoft,Technology
2,3,BERNARD ARNAULT & FAMILY,71.0,76.0,France,LVMH,Fashion & Retail
3,4,WARREN BUFFETT,89.0,67.5,United States,Berkshire Hathaway,Finance & Investments
4,5,LARRY ELLISON,75.0,59.0,United States,software,Technology
...,...,...,...,...,...,...,...
2090,1990,DAVID HALL,68.0,1.0,United States,automotive technology,Automotive
2091,1990,DU SHA,73.0,1.0,China,hypermarkets,Diversified
2092,1990,WANG YANQING,73.0,1.0,China,carbon fiber products,Manufacturing
2093,1990,XU WANMAO,75.0,1.0,China,education,Service
2094,1990,WANG MIAOTONG,62.0,1.0,China,auto parts,Automotive